@import "tailwindcss";

.text-outline {
  -webkit-text-stroke: 2px  var(--color-gray-700);
  --webkit-text-fill-color: transparent;
  font-size: 3rem;
}

::-webkit-scrollbar {
  width: 3px;
 
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  margin-left: 2rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: transparent;
}

/* button{
  background-color: inherit !important;
} */